.c-
  &navbar
    display: flex
    margin-top: 1.5rem
    &_logo
      margin-right: .5rem
      img
        width: 115px
      
  &nav
    align-self: center
    width: 50%
    nav
      display: flex
    &_item
      text-align: center
      width: 25%
      :hover
        color: $primary
    &_link
      display: block
      color: $secondary